@page "/"

@inject HttpClient Http

<h3>DuckDNS IP Update</h3>

<button @onclick="UpdateDuckDNS">Update DuckDNS IP</button>

<p>@statusMessage</p>

@code {
    private string statusMessage = "";

    private async Task UpdateDuckDNS()
    {
        try
        {
            var token = "9d72c402-fbc8-47f8-b290-3a4a472ba449"; // DuckDNS에서 발급받은 토큰

            var url = $"https://cors-anywhere.herokuapp.com/https://www.duckdns.org/update?domains=dagaops&token={token}";
            var responses = await Http.GetStringAsync(url);

            var duckdnsUrl = $"https://www.duckdns.org/update?domains=dagaops&token={token}";

            // DuckDNS IP 업데이트 요청
            var response = await Http.GetAsync(duckdnsUrl);

            if (response.IsSuccessStatusCode)
            {
                statusMessage = "IP 주소가 성공적으로 업데이트되었습니다.";
            }
            else
            {
                statusMessage = "IP 주소 업데이트에 실패했습니다.";
            }
        }
        catch (Exception ex)
        {
            statusMessage = $"오류 발생: {ex.Message}";
        }
        finally
        {
            Console.WriteLine(statusMessage);
        }
    }
}